.site-header {
  background: #C30E00;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 2px;
  border-color: $headerBorderColor;
  /* important values */
  display: block;
  height: 112pt;
  padding-top: 12pt;
  overflow: hidden;
  transition: height .4s .1s;
}

.header-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  border-style: solid;
  border-width: 0px;
  /* important values */
  display: flex; 
  flex-direction: row;
  height: 100%;
  justify-content: stretch;
}


/* left */
.site-header-margin {
  border-style: solid;
  border-width: 0px;
  border-right-width: 1px;
  border-color: $headerBorderColor;

  /* important values */
  width: 300px;
  transition: width .4s;
  display:flex;
  flex-direction: row;
}

.site-header-about-links {
  flex: 1;
  display: flex;
}

.site-header-about-links ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.site-header-about-links ul li {
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-color: $headerBorderColor;
  padding-top: 0;
  padding-left: 6pt;
  flex: 1;
  display: flex;
  align-items: center;
}

.site-header-about-links ul li a {
  flex: 1;
  font-family: "IBM Plex Sans";
  font-size: 10pt;
  text-decoration: none;
  color: rgba(255,255,255, 0.7);
}
.site-header-about-links ul li a:hover {
  color: rgba(252,252,255, 1);

}
.site-header-about-links div {
  display: flex;
  flex: 1;
  margin: 0;
  padding:0;
}
.site-header-social-links {
  /* important values */
  flex: 0;
  min-width: 112pt;
  display: flex;
  font-size: 10pt;
  line-height: 10pt;
  vertical-align: center;
  text-align: center;
}
.site-header-social-links ul {
  flex:1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.site-header-social-links ul li {
  border-style: solid;
  border-width: 0px;
  border-left-width: 1px;
  border-top-width: 1px;
  border-color: $headerBorderColor;
  padding: 0;
  flex: 1;
  display: flex;
  min-width: 47pt;
  align-content: center;
  align-items: center
}
.site-header-social-links ul li a {
  flex: 1;
  font-size: 20pt;
  line-height: 20pt;
  vertical-align: center;
  text-align: center;
  color: rgba(255,255,255,0.9)
}
.site-header-social-links ul li a:hover {
  color: rgba(252,252,255, 1);
}

/* right */
.site-header-content {
  border-style: solid;
  border-width: 0px;
  border-right-width: 1px;
  border-color: $headerBorderColor;
  /* important values */
  flex: 1;
  display: flex; 
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: nowrap;
}
.site-header-brand-container {
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: $headerBorderColor;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 84pt;
}
#header-smallbanner-advert {
  display: block;
  width: auto;
  height: 72pt;
  margin: 6pt;
  flex: 0;
  min-width: 200px;

  border-radius: 3pt;
  overflow: hidden;
}
.site-header-title {
  display: flex;
  flex: 1;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 0.04rem;
  line-height: 1.2rem;
  text-align: left;
  padding-left: 12pt;
  font-size: 12pt;
  flex-direction: column;
  justify-content: center;
}
.site-header-title div {
  max-width: 250px;
}
.site-header-title .title {
  font-weight: 600;
  letter-spacing: 0.12rem;
}
.site-header-title .description {
  font-weight: 400;
}
.site-header-logo {
  /* important values */
  padding: 6pt;
  width: 144pt;
  height: 72pt;
}
.site-header-logo-container {
  flex: 0;
  display: block;
}
.site-header-navigation-button {
  flex:0;
  display: none;
  cursor: pointer;
  min-width: 64pt;
  height: 64pt;
  margin: 9pt; 
  transform: rotate(0deg);
  transition: transform .5s;
}
.site-header-navigation-button:focus {
  background-color: blue;
}
.site-header-navigation-button.menu {
  transform: rotate(45deg);
}
.site-header-categories {
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: rgba(55,55,55,0.1);
  flex: 1;
  display: flex;
  overflow: hidden;
}

.site-header-categories ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
}

.site-header-categories ul li {
  flex: auto;
  display: flex;
  flex-direction: row;
  align-items: center;

  min-width: 0;
  padding: 0;
  border-style: solid;
  border-width: 0px;
  border-color: $headerBorderColor;
  transition: background-color .1s;
}
.site-header-categories ul li:hover {
  background-color: $headerBorderColor;
}
.site-header-categories ul li a {

  /* important values */
  display: block;
  margin: 0;
  width: 100%;;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
  font-size: 9pt;
  line-height: 9pt;
  vertical-align: middle;
  letter-spacing: 0.06rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}



.site-header-categories div {
  display: flex;
  flex: 1;
}

#header-bigbanner-advert {
  width: 100%;
  max-height:250px;
	display: flex;
  justify-content: center;
}


@media screen and (max-width: 1040px) {
	.section-container.header-container {
  }
  .site-header {
    height: 84pt;
    padding-top: 0;
  }
  .site-header.menu {
    height: 300pt;
  }
  .site-header-brand-container {
    justify-content: left;
  }
  #header-smallbanner-advert {
    display: none;
  }
  .site-header-navigation-button {
    display: block;
  }
  .site-header-about-links {
    display: none;
  }
  .site-header-margin {
    width: 112pt;
  }
  
  .site-header-categories.unem {
    display: none;
  }
  .site-header-categories.menu {
    display: flex;
  }
  .site-header-categories.menu ul {
    display: flex;;
    flex-direction: column;
  }
  .site-header-categories.menu ul li {
    height: auto;
    flex: 1;
    border-bottom-width: 1px;
    overflow: hidden;
  }
  .site-header-categories.menu a {
    font-size: 12pt;
  }
}

@media screen and (max-width: 700px) { 
  .site-header-title {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .site-header-margin {
    display: none;
  }
  .site-header {
    padding: 0;
    height: 68pt;
  }
  .site-header-brand-container {
    height: 68pt;
  }
  .site-header-logo {
    height: 56pt;
    width: 112pt;
    padding-right: 0;
  }
  .site-header-navigation-button {
    height: 50pt;
    width: 50pt;
    margin-left:0;
  }
}