.homepage-section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	align-items: stretch;

  height: auto;
  overflow: hidden;

	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-color: $homeBorderColor;
}

/* Section Margin */

.homepage-section-margin {
	background-color: rgb(254,254,255);
	width: 300px;
	padding-bottom: 12pt;
	border-style: solid;
	border-width: 0px;
	border-right-width: 1px; 
	border-right-color: $homeBorderColor;
	border-left-width: 1px; 
	border-left-color: $homeBorderColor;
}
.homepage-section-margin h1, .homepage-section-margin h2 {
	margin-left: 12pt;
	text-align: left; 
	font-size: 16pt;
	font-weight: 400;
	margin-bottom: 0pt;
}
.homepage-section-margin p {
	margin-left: 12pt;
	text-align: left; 
	font-size: 12pt;
	font-weight: 400;
	margin-top: 0pt;
	margin-bottom: 4pt;
}
.homepage-section-margin a {
	display: block;
	margin-left: 12pt;
	text-align: left; 
	font-size: 12pt;
	color: #DB1000;
}

.homepage-section-content {
	flex: 1;
	align-self: stretch;
	display: flex;
	flex-direction: row;
	padding: 12pt;
}
.homepage-section-content-last-articles {
	flex:1;
	display: block; 
	height: auto;
	min-width: 256pt;
}
.homepage-section-content-first-articles {
  flex:1;
  min-width:60%;
	display: block; 
	padding-right: 12pt;
	height: auto;
}


.article-card {
	display: block;
	position: relative;
	flex: 1;
  margin-bottom: 12pt;
  overflow: hidden;
}

.article-card-thumbnail {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	background-color: rgb(210,210,215);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.article-card-text {
}
.article-card-kicker-container {
  margin: 0;
  margin-bottom: 3pt;;
  padding: 0;
}
.article-card-kicker {
	text-decoration: none;
	background: #C30E00;
	color: white !important;
	font-family: 'IBM Plex Mono', Helvetica;
	font-size: 13pt;
	font-weight: 400;
	text-transform: lowercase;
	letter-spacing: .1rem;
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	margin: 0pt;
	margin-right: 8pt;
	display: inline;
	box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.article-card-title {
	/* style */
	text-decoration: none;
	background:white;
	color: black !important;
	border-radius: 3px;
	border-top-left-radius: 0px;
	
	/* font */
	font-family: 'IBM Plex Sans', Helvetica;
	font-weight: 500;
	font-size: 20pt;
	line-height: 2.3rem;
	
	/* spacing */
	padding-left: 4pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	margin: 0pt;
	margin-right: 8pt;
	display: inline;
	box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.article-card-abstract {
	display: none;
}

.article-card-meta {
	margin-top: 8pt;
	height: 40pt;
	line-height: 40pt;
	vertical-align: middle;
	text-align: left;
}

.article-card-author-avatar {
	width: 40pt; 
	height: 40pt;
	display: inline;
	float: left;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	margin-right: 8pt;
	border-radius: 50%;
}

.article-card-author-text {
	display: inline;
	float: left;
	height: 40pt;
	line-height: 40pt;
	margin-left: 0pt;
	font-size: 14pt;
	color: white;
}
.article-card-author-text .author {
	color: inherit !important;
	text-decoration: none;
	font-weight: 500;
}
.article-card-author-text .entry-date {
	color: #C30E00;
	opacity: .8;
	text-decoration: none !important;
	font-weight: 300;
}

/* First post in section (featured post) */
.article-card:nth-child(1) {
	height: 450px;
	min-width: 60%;
	box-shadow: none;	
	transition: box-shadow .3s;
}

.article-card:nth-child(1) .article-card-thumbnail {
	position:absolute;
	width: 100%; 
	height: 100%;
}

.article-card:nth-child(1) .article-card-text {
	position:absolute;
	bottom: 0px;
  left: 0px;
  right: 0;
  padding: 12pt;
  background-color:transparent;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));

}
.article-card:nth-child(1) .article-card-text a {
	text-decoration: none;
}
.article-card:nth-child(1) .article-card-author-text {
	text-shadow: 0px 0px 3px rgba(0,0,0,0.3); 
}

.article-card:nth-child(1) .article-card-author-text .entry-date {
	color: white;
}
.article-card:nth-child(1) .article-card-meta {
	margin-top: 0pt;
}

.article-card:nth-child(1) .article-card-abstract {
	margin: 0;
	margin-top: 8pt;
	margin-bottom: 4pt;
	padding-left: 4pt;
	padding-right: 12pt;
	color: white;
	text-shadow: 0px 0px 3px rgba(0,0,0,0.3); 
	display: block;
	overflow: hidden;
	max-height: 0pt;
	transition: max-height 1s;
}

.article-card:nth-child(1):hover  {
	box-shadow: 0px 2px 12px rgba(0,0,0,0.2);
}

.article-card:nth-child(1):hover .article-card-abstract {
	max-height: 400pt;
}

/* Second post in section */
.homepage-section-content-last-articles .article-card:nth-child(1) {
	height: 250px;
}
.homepage-section-content-last-articles .article-card:nth-child(1) .article-card-thumbnail {
	position:absolute;
	width: 100%; 
	height: 100%;
}
.homepage-section-content-last-articles .article-card:nth-child(1) .article-card-kicker {
	font-size: 11pt;
}
.homepage-section-content-last-articles .article-card:nth-child(1) .article-card-title {
	font-size: 16pt;
	line-height: 2rem;
}
.homepage-section-content-last-articles .article-card:nth-child(1) .article-card-meta {
	height: 0pt;
	margin: 0pt;
	margin-top: 4pt;
	overflow: hidden;
	transition: height .3s;
}
.homepage-section-content-last-articles .article-card:nth-child(1) .article-card-abstract {
	display:none;
}
.homepage-section-content-last-articles .article-card:nth-child(1) .article-card-author-avatar {
	height: 28pt;
	width: 28pt;
}
.homepage-section-content-last-articles .article-card:nth-child(1) .article-card-author-text {
	height: 28pt;
	line-height: 28pt;
	font-size: 12pt;
}

.homepage-section-content-last-articles .article-card:nth-child(1):hover .article-card-meta {
	height: 28pt;
	padding: 0pt;
}


/* Thrird post in section */
.article-card:nth-child(n + 2) {
	position: relative;
	display: flex; 
	flex-direction: row;
	width: 100%;
	height: auto;
	min-height: 36pt;
	overflow: hidden;
	margin-top: 12pt;
	background-color: transparent;
	transition: background-color .1s;
}

.article-card:nth-child(n + 2) .article-card-thumbnail {
	width: 25%;
	min-width: 25%;
	height: auto;
	float:left;
	transition: width .4s;
}
.article-card:nth-child(n + 2) .article-card-text {
	float:left;
	margin: 0;
	padding: 0;
}
.article-card:nth-child(n + 2) .article-card-kicker {
	flex: 1;
	font-size: 9pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	padding-left: 8pt;

	font-weight: 500;
	letter-spacing: 0.02rem;
	color: #C30E00 !important;
	background-color: transparent;
}
.article-card:nth-child(n + 2) .article-card-title {
	flex: 1;
	font-size: 14pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	padding-left: 8pt;
	margin-top: 0pt;
	line-height: 1.6rem;
	background:transparent;
}
.article-card:nth-child(n + 2) .article-card-meta {
	height: 21pt;
	margin-top: 4pt;
	margin-left: 8pt;
	margin-bottom: 4pt;
}
.article-card:nth-child(n + 2) .article-card-author-avatar {
	width: 21pt;
	height: 21pt;
	margin-right: 6pt;
}
.article-card:nth-child(n + 2) .article-card-author-text {
	height: 21pt;
	line-height: 21pt;
	font-size: 10pt;
	color: black;
	margin-left: 0pt;
}
.article-card:nth-child(n + 2) .article-card-author-text a {
	text-decoration: none;
}

.article-card:nth-child(n + 2):hover {
	background-color: rgb(250,250,248)
}
.article-card:nth-child(n + 2):hover .article-card-abstract {
	display:none;
}


.section-container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

@media screen and (max-width: 1040px) {
	.homepage-section {
		flex-direction: column;
		align-content: stretch;
	}
	.homepage-section-margin {
		width: 100%;
	}
	.homepage-section-content {
		flex-wrap: wrap;
	}
	.homepage-section-content-last-articles {
		padding: 0pt;
  }
  .homepage-section-content-first-articles {
    padding: 0;
  }
	.homepage-section-description {
		display:none;
	}
	.article-card {
		margin-right: 12pt;
	}
}

@media screen and (max-width: 600px) {
  .no-mobile {
    display: none;
  }
  .article-card {
		margin-right: 0;
	}
	.article-card:nth-child(1) {
		height: 280pt;
	}
  .article-card-author-text {
    font-size: 12pt;
  }
}