@page {
  size: A4;
  margin-left: 2cm;
  margin-right: 2cm;
  margin-top: 2cm;
  margin-bottom: 1.5cm;
}
.no-print		{ display:none; }
.just-print { display:block !important;}

#content, #page, .article-body, .layout-content {
  display:block;
  width: 100%; 
  margin: 0; 
  float: none;
  }

.site-header,
.layout-margin,
.layout-sidebar {
  display: none;
}