@page {
  size: A4;
  margin-left: 2cm;
  margin-right: 2cm;
  margin-top: 2cm;
  margin-bottom: 1.5cm;
}
.no-print		{ display:none; }
.just-print {display:block!important;}
.header {
}

p {
  font-size: 12px !important;
  line-height: 16px !important;
  margin:0px !important;
  padding-top:0px !important;
  padding-bottom:6px !important;
  /*page-break-inside: avoid;*/
}
p:nth-child(1){
  text-indent: 0cm;
}
blockquote {
  font-size: 12px !important;
  line-height: 16px !important;
  color: #C30E00 !important;
  font-style: italic !important;
  padding-top:12px !important;
  padding-bottom:12px !important;
}
blockquote p {
  color: #C30E00 !important;
}
/*p:first-letter {
  all:inherit !important;
  margin:0px !important;
  padding: 0px !important;
}*/
p.has-drop-cap {
  text-indent: 0cm !important;
}
p.has-drop-cap::after {
  display: none;
}

h1, h2, h3, h4 {
  page-break-inside: avoid;
  page-break-after: avoid;
  margin-left:0cm;
  font-size: 14px;
  color: #000000 !important;
  margin:0px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

h1 {
  font-size: 18px !important;
  line-height: 18px;
}

h2 {
  font-size: 14px !important;
}
h3 {
  font-size: 12px !important;
}

iframe {
  display: none;
}

.author-block .image-avatar {
  width: 128px;
  height:128px;
  border-radius: 50%;
}

.author-block .title h1 {
  margin-left:0cm;
}
.author-block .title p {
  margin-left:0cm;
  text-indent: 0cm !important;
}

#main {
  margin:0cm auto !important;
  padding:0cm !important;
  display: block;
}
.post-container {
  display: block;
}
.entry-content {
  margin:0cm !important;
  padding:0cm !important;
}
.post {
  margin:0cm !important;
  padding:0cm !important;
  display: block;
  max-width: auto !important;
  width: auto !important;
  float: none !important;
}

.entry-content {
  column-count: 2;
  column-gap: 0.5cm;
}

/* Print header */

.print-header {
  column-span:all;
  border-style: solid;
  border-width: 0.5pt;
  border-color:#C30E00;
  border-radius: 1mm;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  margin-left:2px;
  margin-right:2px;
  margin-bottom:6px;
}
.print-header .branding {
  height:1cm;
  flex: 1 1 1cm;
  border-style: solid;
  border-width: 0cm;
  border-bottom-width: 0.3pt;
  border-color:#C30E00;

}
.print-header .branding .brand-left {
  float:left;
  height:1cm;
}
.print-header .branding .brand-right {
  float:right;
  height:1cm;
}

.print-header .article-print {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.print-header .article-print .title {
  color:#000000;
  font-weight: bold;
  padding:0mm;
  margin:0cm;
  padding-top:0.2cm;
  padding-bottom:0.6cm;
  border-style: solid;
  border-width: 0cm;
  border-right-width: 0.3pt;
  border-color:#C30E00;

  flex:5;
}
.print-header .article-print .title .title-text {
  display: inline;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 0.3pt;
  border-color:#C30E00;
  margin:0px;
  padding-left:0.5cm;
  box-decoration-break:clone;
  -webkit-box-decoration-break: clone;
  line-height: 36px !important;
  font-size: 32px;
}
.print-header .article-print .info {
  display:flex;
  flex-direction: column;
  flex:2;
}
.print-header .article-print .info .authors {
  display:block;
  color:#000000;
  font-weight: normal;
  font-size: 14pt;
  line-height:18pt;
  padding:2mm;
  border-style: inset;
  border-width: 0cm;
  border-bottom-width: 0.3pt;
  border-color:#C30E00;
}
.print-header .article-print .info .author {
  font-weight: bold;
}
.print-header .article-print .info .posted-on {
  color:#C30E00;
  font-weight: lighter;
  border-style: solid;
  border-width: 0cm;
}
.print-header .article-print .info .posted-on time {
  color:#C30E00;
  font-weight: lighter;
  padding:2mm;
  font-size: 10pt;
  line-height:12pt;
}

.print-thumbnail {
  column-span: all;
  break-before: column;
  break-inside: avoid-column;
  break-after: avoid-column;
  margin-top:4mm;
  margin-bottom:4mm;
  border-radius: 1mm;
  border-style: solid;
  border-width: 0cm;
  border-bottom-width: 0.3pt;
  border-color:#ffffff;
}

.author-block {
  margin-left:0.2cm !important;
  display: inline-block !important;
}
.author-block .image-avatar {
  width:96px;
  height:96px;
}
.author-block .title h1 {
  font-weight: bold;
  font-size: 12pt;
  line-height:18pt;
  padding-bottom:6pt;
  color:#C30E00 !important
}
.author-block .description {
  font-weight: normal;
  font-size: 10pt;
  line-height:14pt;
  font-family: "IBM Plex Serif" !important
}
