/* TODO: Faire un build là dessus pour le passer en scss */
.interview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(245, 245, 245);
    border: 1px solid rgba(225,225,225);
    border-radius: 5px 5px 0 0;

    cursor: pointer;

}

.interview-header:hover {
    background-color: rgba(235, 235, 235);
}

.interview-question {
    font-size: 1.25rem;
    font-weight: bolder;
    line-height: 1.5rem;
}

.interview-arrow {
    font-weight: bolder;
    font-size: 2rem;

    text-align: center;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;

    transition: transform ease 0.5s;
}
.interview-header.reponse-active .interview-arrow {
    transform: rotateZ(90deg);
}

.interview-reponse {
    height: 0;
    overflow: hidden;
    opacity: 0;

    transition: opacity 0s;
}
.interview-reponse.reponse-active {
    height: auto;
    opacity: 1;
    transition: opacity ease 1s;

}
