// Headline Block

// Headline, in layout-container

.article-headline-container {
	padding-top: 12pt;
	flex:1;
}
.article-content-kicker {
	font-family: $displayMonoFont;
	font-weight: 500;
	text-transform: lowercase;
	color: $brandColor;
	padding: 0;
	padding-bottom: 4pt;
	padding-left: 12pt;
	margin: 0;
	font-size: 1.2rem;
	line-height: 1.6rem;
}
.article-content-title {	
	padding: 0;
	padding-left: 12pt;
	padding-bottom: 12pt;
	margin: 0;
	font-family: $displaySansFont;
	font-weight: 500;
	color: black;
	font-size: 1.8rem;
	line-height: 26pt;
}

// Thumbnail Block

.article-thumbnail-container {
	min-height: 200pt;
	background-color:black;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

// Thumbnail (1st column)
.article-margin-thumbnail {
	background-color: rgba(0,0,0,0.1);
	border-right-color: rgba(0,0,0,0.15);
	border-left-width: 0;
	position: relative;
	overflow: hidden;
}

.article-margin-thumbnail-image {
	z-index: 0;
	position:absolute;
	top: -15px;
	left: -15px;
	width: calc(100% + 30px);
	min-width: 100%;
	height: calc(100% + 30px);
	min-height: 100%;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	filter: blur(4px);
  -webkit-filter: blur(4px);
}
.article-abstract-in-thumbnail {
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
	color: white;
	font-size: 10pt;
	font-family: $displayMonoFont;
	padding-left: 12pt;
	padding-right: 12pt;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
}

.article-abstract-in-thumbnail .posted-on {
	color: #C30E00;
}
.article-abstract-in-thumbnail .posted-on a {
	text-decoration: none;
	color: inherit;
}

// Authors (1rst collumn)

.article-margin-authors {
	position:relative;
	display: flex;; 
	flex-direction: column-reverse;
	padding: 0;
	padding-top:0.3rem;
	z-index: 4;
}
.article-author-container {
	flex: 0;
	display: flex;
	height: 42pt;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	text-decoration: none;
	border-style: solid;
	border-width: 0;
	border-bottom-width: 1px;
	border-color: rgba(0,0,0,0.09);
}
.article-author-container .avatar {
	flex: 0;
	width: 42pt;
	max-width: 42pt;
	height: 42pt;
	max-height: 42pt;
	margin-left: 0.7rem;
	border-radius: 50%;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0.15);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.article-author-name {
	flex: 1;
	line-height: 42pt;
	max-height: 42pt;
	padding-left: 0.6rem;
	padding-right: 1rem;
	font-size: 0.9rem;
	font-family: $displayMonoFont;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}
.article-author-name a {
	color: inherit;

}
.article-author-container:hover {
}

// Content

// Tags (1st column)
.article-margin-extra-info {
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-style:solid;
	border-width: 0;
	border-bottom-width: 1px;
	border-color: $homeBorderColor;

	font-family: $displayMonoFont;
	font-size: 0.8rem;
}
.article-margin-extra-info a {
	color: inherit;
	text-decoration: none;
}
.article-margin-extra-info i.fas {
	padding-right: 0.4rem;
}

.article-margin-tags {
	padding: 1rem;
	padding-bottom: 0.5rem;
	border-style:solid;
	border-width: 0;
	border-bottom-width: 1px;
	border-color: $homeBorderColor;
}

.tag-category {
	font-family: $displayMonoFont;
	background-color: $hintColor;
	color: white;
	padding: 2pt;
	padding-left: 4pt;
	padding-right: 4pt;
	font-size: 10pt;
}
a[rel="tag"] {
	font-family: $displayMonoFont;
	font-size: 10pt;
	color: $hintColor;
	margin-left: 4pt;
	margin-right: 0pt;
}

// Content (2nd column)

.article-body {
	max-width: 40rem;
	padding: 1rem;
	font-size: 1rem;
	line-height: 1.5rem;
}

.article-body h1, 
.article-body h2,
.article-body h3,
.article-body h4 {
	font-family: $sansFont;
	font-weight: 500;
	padding: 0;
	margin: 0;
	color: black;
}

.article-body h2 {
	font-size: 1.4rem;
	padding-top: 1rem;
}

.article-body h3,
.article-body h4 {
	font-size: 1rem;;
	padding-top: 0.5rem;
}
.article-body p {
	font-family: $serifFont;
	font-size: 14pt;
	text-align: justify;
	padding: 0;
	margin: 0;
	padding-top: 8pt;
	padding-bottom: 8pt;
}

.article-body blockquote {
	margin-left: 0;
	padding: 0 1.5em;
	border-style: solid;
	border-width: 0px;
	border-left-width: 2px;
	border-color: #C30E00;
	font-style: italic;
	font-weight: 300;
	line-height: 1.4rem
}
.article-body cite {
	font-style: normal;
	font-family: $sansFont;
}
.article-body ul, .article-body ol {
	font-family: $serifFont;
	font-size: 1.2rem;
}

// Footer (2nd row, contains authors, tags, and references)
.article-body-footer-separator {
	width: 64pt;
	height: 1pt;
	background: #C30E00;
}
.article-body-footer-authors {
	font-family: $sansFont;
	font-size: 13pt;
	padding-top: 8pt;
	padding-bottom: 8pt;
}
.article-body-footer-authors a {
	font-weight: 500;
	font-size: 14pt;
	color: inherit;
	text-decoration: none;
	border-style: solid;
	border-width: 0;
	border-bottom-width: 1pt;
	border-color: rgba(240,40,60, 0.2)
}
.article-body-footer-tags {
	transition: opacity .2s;
}

// References (2nd row)

.article-references {
	padding-left: 12pt;
	padding-right: 12pt;
	padding-top: 2pt;
	padding-bottom: 24pt;
	border-style: solid;
	border-width: 0;
	border-top-width: 1px;
	border-color: $homeBorderColor;
	text-align: left;
	max-width: 100%;
	max-width: 40rem;
	overflow: hidden;
	font-family: $serifFont;
	opacity: 0.8;
	transition: opacity .2s;
}
.article-references:hover {
	opacity: 1;
}
.article-references {
	font-size: 1.1rem;
}
.article-references-title {
	font-family: $displayMonoFont;
	font-size: 0.9rem;
	color: $brandColor;
	border-style: solid;
	border-width: 0px;
	border-top-width: 2px;
	padding: 3pt;
	padding-left:0;
	padding-right: 6pt;
}
.article-references ol {
	margin-left: 0;
	padding-left: 12pt;
}

// Remove 1st and 3rd row on mobile

@media screen and (max-width: 1040px) {
	.article-margin-authors {
		display: none !important;
	}
	// background image is attached to div and not screen 
	.article-thumbnail-container {
		background-attachment: initial;
	}
}