
.author-header {
  width: 100%;
  max-width: 420px;
  margin: 3rem auto;
  
  .avatar {
    display: block;
    margin: 0px auto;
    padding: 2px;

    border-style: solid;
    border-width: 1px;
    border-color: $homeBorderColor;
    border-radius: 50%;
  }

  .author-name {
    font-weight: normal;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .author-function {
    margin-top: 0rem;    
    font-weight: normal;
    text-align: center;
    font-size: 1rem;
  }
  .author-description {
    text-align: justify;
  }
}


.article-card.author {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 2rem auto;

  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(80, 80, 90);
  border-radius: 3px;
  overflow: hidden;
  
  .article-card-thumbnail {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }

  @media screen and (min-width: 600px) {
    .article-card-thumbnail {
      height: 300px;

    }
  }
}