$brandColor: #C30E00;
$hintColor: #4278FF;

$headerBorderColor: rgba(55,55,55,0.06);

$homeBorderColor: rgb(246, 246, 248);

$serifFont: 'EB Garamond', serif;
$sansFont: 'IBM Plex Sans', Helvetica, sans-serif;
$displaySansFont: "IBM Plex Sans", Helvetica, sans-serif;
$displayMonoFont: "IBM Plex Mono", monospace;

