.site-footer-container {
  display: block;
}
.site-footer {
	background: rgb(253,253,255);
	color:black;
	padding:6px;
	font-size: 24px;
  line-height: 20px;
  border-style: solid;
  border-width: 0;
  border-top-width: 1px;
  border-color: $homeBorderColor;
}

.site-footer-widget-area {
	background:linear-gradient(white, rgb(253,253,255));
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	border-color: rgb(235,235,255);
}
.site-footer-widget-area .layout-container .widget:nth-child(1) {
  border-left-width: 0;
}
.site-footer-notes {
	width: 100%;
	max-width: 400pt;
	margin: 2pt auto;
	padding-top: 0.2rem;
	text-align: center;
	font-size: 0.9rem;
	font-family: $displayMonoFont;
}

.site-footer .colored {
  color: $brandColor;
}
.site-footer .hinted {
  color: $hintColor;
}

.site-footer-host-logo {
	display: block;
	margin: 0 auto;
	width: 136pt;
}

.site-footer-mail {
	color: rgb(50, 60, 255); 
	background-color: white; 
	padding-top: 2pt; 
	padding-left: 4pt;
	padding-right: 4pt;
	padding-bottom: 3pt;
	border-radius: 2pt;
}